name: 'Check spelling' # https://github.com/streetsidesoftware/cspell-action#usage
on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

permissions:
  contents: read

jobs:
  spellcheck:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: streetsidesoftware/cspell-action@3294df585d3d639e30f3bc019cb11940b9866e95 # v8.0.0
        with:
          check_dot_files: false
          incremental_files_only: true
          inline: warning
          strict: false
